
input[type=search] {
    font-size: 13px;
    padding:12px;
    border: 1px solid grey;
    outline: none;
    float: right;
    background: #f1f1f1;
    height:30px;
    border-radius: 1.625rem;
    position:relative;
    margin-bottom:10px;
  }
  input[type=search]:focus{
    background-color: aliceblue;
  }

 
